div, h1, h2, h3, h4, h5, h6, li, ol, p, span, ul {
  margin: 0;
  padding: 0;
}

li, ol, ul {
  list-style-type: none
}

button {
  padding: 0;
  outline: 0;
  border: 0;
  background: 0 0;
  cursor: pointer;
}

a {
  text-decoration: none;
  cursor: pointer;
}

input {
  border: none;
  outline: none;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}